.sources {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow: auto;
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
    margin-bottom: 10px;
}

.source__item {
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.2s;
    cursor: pointer;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item:active {
    box-shadow: none;
    transform: translateY(0);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}

.sources-container {
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}

.sources {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: initial;
    transition: all .2s ease;
}

.sources::-webkit-scrollbar {
    display: none;
}

.scrollbar {
    margin: 0 auto;
    min-width: 300px;
    max-width: 700px;
    width: 100%;
    display: flex;
    height: min-content;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    border: 0.5px solid #30c5ff;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 100%;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer;
    z-index: 1;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 100%;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer;
}