@import './colors.scss';

$small-desktop-max-width: 1399px;
$small-desktop-min-width: 980px;
$tablet-max-width: 979px;
$tablet-min-width: 635px;
$mobile-max-width: 634px;

//=== SMALL DESKTOP STYLES ===
@media screen and (max-width: $small-desktop-max-width) {
  .container {
    padding: 0 30px;
  }
  // === HEADER ===
  .main-nav__list {
    gap: 48px;
  }
  // === /HEADER ===

  // === FOOTER ===
  .footer-bottom {
    grid-template-columns: 1fr 1.1fr 1fr;
  }
  .subscribe-form {
    margin-right: 32px;
  }
  .footer-nav__list {
    justify-self: center;
  }
  // === /FOOTER ===
}
//=== /SMALL DESKTOP STYLES ===

//=== TABLET STYLES ===
@media screen and (max-width: $tablet-max-width) {
  .container {
    padding: 0 20px;
  }

  // === HEADER ===
  .header {
    position: fixed;
    width: 100%;
    min-height:min-content;
    padding: 2px 0 3px 0;
    z-index: 4;
  }
  .header__inner {
    position: relative;
    justify-content: space-between;
    .logo {
      width: 47px;
      height: 29.3px;
      & a {
        border: none;
      }
    }
    .bamboo {
      left: 2px;
      bottom: 0px;
      & svg {
        width: 10px;
        height: 12px;
      }
    }
    .logo__title {
      font-size: 12.3px;
      line-height: 120%;
    }
  }
   .burger-menu {
    position: absolute;
    top: 15px;
    right: 20px;
  }
  .burger-menu,
  .burger-menu::before,
  .burger-menu::after {
    display: block;
    background-color: #fff;
    height: 2px;
    width: 18px;
    transition: transform .5s cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  .burger-menu::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -4px;
   }
  .burger-menu::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 4px;
  }
  .burger-menu_active {
    background: transparent;
    &::before {
      margin-top: 0px;
      transform: rotate(405deg);
      background-color: $accent-color;
    }
    &::after {
      margin-top: 0px;
      transform: rotate(-405deg);
      background-color: $accent-color;
    }
  }
  .main-nav {
    position: absolute;
    background-color: #E5E5E5;
    min-width: 50%;
    top: -100vh;
    right: 0;
    transition: all .5s ease;
  }
  .main-nav_active {
    top: 0;
    right: 0;
  }
  .main-nav__list {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    padding: 10px 10px 10px 40px;
  }
  .nav-link {
    color: $font-color-main;
    &:visited {
      color: $font-color-main;
    }
  }
  .copyright {
    margin-left: 0;
    align-self: flex-start;
  }
  // === /HEADER ===

  // === FOOTER ===
  .footer {
    position: relative;
    padding: 12px 0 20px;
  }
  .subscribe-form {
    display: none;
  }
  .socials {
    position: absolute;
    top: 12px;
    right: 20px;
    gap: 20px;
  }
  .social-link__name {
    display: none;
  }
  .social-link__icon {
    margin-right: 0;
  }
  .footer-bottom {
    margin-top: 30px;
    grid-template-columns: 1.2fr 1fr;
  }
  .footer-nav__list{
    justify-content: flex-start;
    gap: 37px;
    & .nav-link {
      color: $font-color-secondary;
      font-weight: 500;
      &:hover {
        color: $font-color-accent;
      }
    }
    & .nav-link:visited {
      color: $font-color-secondary;
      &:hover {
        color: $font-color-accent;
      }
    }
  }
  // === /FOOTER ===
}

//=== /TABLET STYLES ===

//=== MOBILE STYLES ===
@media screen and (max-width: $mobile-max-width) {
  .container {
    padding: 0 10px;
  }
  .burger-menu {
    right: 10px;
  }
  .title_m,
  .title_l {
    font-size: 24px;
    line-height: 120%;
  }
  .title_s {
    font-size: 16px;
    line-height: 140%;
  }

  // === FOOTER ===
  .footer {
    padding: 20px 0;
  }
  .footer__inner {
    gap: 30px;
    align-items: center;

    .logo {
      width: fit-content;
      height: fit-content;
    }
    a {
      border: none;
    }
    .bamboo {
      position: absolute;
      right: -18px;
      bottom: 0;
    }
  }
  .footer-bottom {
    margin-top: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 35px;
  }
  .socials {
    position: absolute;
    flex-direction: row;
    left: 0;
    right: 0;
    top: 73px;
    justify-content: center;
    gap: 30px;
  }
  .footer-middle {
    margin-top: 52px;
  }
  .footer__copyright {
    font-size: 15px;
    line-height: 18px;
    justify-self: center;
    margin-left: 85px;
  }
  // === /FOOTER ===

}
//=== /MOBILE STYLES ===