@import './fonts.scss';

$font-color-main: #333B41;
$font-color-secondary: #FFFFFF;
$font-color-accent: #F9804B;
$bg-header: #000000;
$bg-btn: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$bg-button-hover: #E47209;
$bg-button-active: #4B9200;
$bg-btn-disabled: #767474;
$accent-color: #E47209;
$font-card-color: #000000;
$scrollbar-color: #FE9013;
$pink-gradient: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30%,rgba(243, 169, 248, 0.66) 50%,
  #e0d8f0 80%, #eaf7fe 100%);
$active-color: #4B9200;
$mistake-color: red;

// default
body {
  margin: 0;
  padding: 0;
  @include font-main();
  color: $font-color-main;
}
h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.nav-link {
  color: $font-color-secondary;
  transition: all .5s ease;

  &:visited {
    color: $font-color-secondary;
  }

  &.link_active {
    color: $font-color-accent;
    pointer-events: none;
    cursor: default;
  }
}
.nav-link:hover {
  cursor: pointer;
  color: $font-color-accent;
}
// headers styles
.title_l {
  font-size: 48px;
  line-height: 120%;
  font-weight: 400;
}
.title_m {
  font-size: 36px;
  line-height: 130%;
  font-weight: 400;
}
.title_s {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}

// containers
.container {
  max-width: 1160px;
  margin: 0 auto;
  box-sizing: border-box;
}

// === HEADER ===
.header {
  @include font-header();
  min-height: 80px;
  background-color: $bg-header;
  color: $font-color-secondary;
  padding: 14px 0;
  box-sizing: border-box;
}
.header__inner{
  display: flex;
  align-items: center;
  gap: 60px;
  & a {
    color: $font-color-secondary;
  }
}
.logo {
  width: 82px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $font-color-secondary;
  box-sizing: border-box;
  border-radius: 2px;
  position: relative;
  & a {
    transition: all .5s ease;
  }
  & a:hover{
    cursor: pointer;
    color: $font-color-accent;
  }
}
.bamboo {
  position: absolute;
  left: 10px;
  bottom: 0;
}
.logo__title {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  padding-top: 3px;
}
.main-nav__list {
  display: flex;
  align-items: center;
  gap: 60px;
}

.copyright {
  margin-left: auto;
  & a {
    transition: all .5s ease;
  }
  & a:hover{
    cursor: pointer;
    color: $font-color-accent;
  }
}
// === /HEADER ===

// === BUTTONS ===
.btn {
  @include font-btn();
  color: $font-color-secondary;
  width: 298px;
  height: 54px;
  box-sizing: border-box;
  background: $bg-btn;
  border-radius: 25px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover{
    cursor: pointer;
    background: $bg-button-hover;
  }
  &:active {
    background: $bg-button-active;
  }
}

.btn_sqr {
  border-radius: 5px;
}
// === /BUTTONS ===

@mixin section-bg-gradient {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
}

// === FOOTER ===
.footer {
  background-color: #000000;
  padding: 40px 0 50px;
  color: $font-color-secondary;
}
.footer__inner {
  display: flex;
  flex-direction: column;
  gap: 35px;

  & a {
    color: $font-color-secondary;
  }
}
.footer-top {
  display: flex;
  justify-content: space-between;
}
.subscribe-title {
  @include font-main();
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 14px;
}
.subscribe-form__input {
  color: $font-color-secondary;
  width: 228px;
  box-sizing: border-box;
  margin: 0 6px 3px 0;
  padding: 10px 7px 10px 10px;
  background-color: transparent;
  outline: none;
  border: 1px solid $accent-color;
  border-radius: 2px;
  &:valid {
    border: 1px solid $active-color;
  }
  &:invalid {
    border: 1px solid $mistake-color;
  }
}
.subscribe-form__btn {
  padding: 10px 39px;
  cursor: pointer;
  background: #F1F3F2;
  border: 1px solid #333B41;
  border-radius: 5px;
  &:active {
    color: $active-color;
  }
}
.footer-bottom {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: end;
  margin-top: 8px;
  gap: 10px;
}
.socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.social-link__icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.5);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  transition: all .5s ease;

  & svg {
    transition: all .5s ease;
  }
}
.social-link:hover {
   & .social-link__icon {
    background-color: #E1E8ED;

    &.youtube svg {
    fill: red;
    }
    &.instagram svg {
      fill: #E1306C;
    }
    &.twitter svg {
      fill: #1DA1F2;
    }
    &.facebook svg {
      fill: #4267B2;
    }
  }
}
.social-link:active{
  color: $active-color;

  .social-link__icon {
    background-color: $active-color;
    &.youtube svg {
      fill: #ffffff;
      }
      &.instagram svg {
        fill: #ffffff;
      }
      &.twitter svg {
        fill: #ffffff;
      }
      &.facebook svg {
        fill: #ffffff;
      }
  }
}
.footer-nav__list {
  line-height: 140%;
  display: flex;
  justify-content: space-between;
}
.footer__copyright {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  gap: 10px;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  transition: all .5s ease;
  &:hover {
    cursor: pointer;
    color: $font-color-accent;
  }
  &:active {
    color: $active-color;
  }
}
// === /FOOTER ===