@import './common-adaptive.scss';

//=== SMALL DESKTOP STYLES ===
@media screen and (max-width: $small-desktop-max-width) {
  .donation-intro {
    min-height: 390px;
    background-size: 160% auto;
    background-position: 29% center;
  }
  .donation-section__inner {
    padding: 40px 30px 30px;
    .title_l {
      margin-right: 15px;
    }
    .title_m {
      max-width: 80%;
    }
    .paragraph {
      margin: 20px 0 35px;
    }
  }
  .donation-info {
    margin-top: 30px;
    padding: 20px 47px 45px;
  }
  .donation-info__text {
    margin-top: 0;
  }
  .donation-form {
    width: 810px;
  }
  .amount-bar__custom-radio {
    min-width: 0;
    // === УДАЛИТЬ ПОСЛЕ КРОСС-ЧЕКА (ЭТОТ ГОВНОКОД ВО ИМЯ ПИКСЕЛЬ ПЕРФЕКТ)
    &:nth-child(2) {
      margin-left: 5px;
      &::before {
        margin-left: -20px;
      }
    }
    &:nth-child(3) {
      margin-left: -12px;
      &::before {
        margin-left: -20px;
      }
    }
    &:nth-child(4) {
      margin-left: -15px;
      margin-right: 12px;
      &::before {
        margin-left: -17px;
      }
    }
    &:nth-child(5) {
      margin-left: -12px;
      margin-right: 5px;
      &::before {
        margin-left: -15px;
      }
    }
    &:nth-child(6) {
      &::before {
        margin-left: -18px;
      }
    }
    &:nth-child(7) {
      margin-right: 16px;
      &::before {
        margin-left: -15px;
      }
    }
    &:last-child {
      margin-right: -10px;
      &::before {
        margin-left: -15px;
      }
    }
  }
   // === /УДАЛИТЬ ПОСЛЕ КРОСС-ЧЕКА (ЭТОТ ГОВНОКОД ВО ИМЯ ПИКСЕЛЬ ПЕРФЕКТ)
  .amount-bar__custom-radio:has(#radio5000) {
    display: none;
  }
}
//=== /SMALL DESKTOP STYLES ===

//=== TABLET STYLES ===
@media screen and (max-width: $tablet-max-width) and (min-width: $tablet-min-width) {

}
//=== /TABLET STYLES ===

//=== MOBILE STYLES ===
@media screen and (max-width: $mobile-max-width) {

}
//=== /MOBILE STYLES ===