@import './common-adaptive.scss';

//=== SMALL DESKTOP STYLES ===
@media screen and (max-width: $small-desktop-max-width) {
  .donation-intro {
    min-height: 390px;
    background-size: 160% auto;
    background-position: 29% center;
  }
  .donation-section__inner {
    padding: 40px 30px 30px;
    .title_l {
      margin-right: 15px;
    }
    .title_m {
      max-width: 80%;
    }
    .paragraph {
      margin: 20px 0 35px;
    }
  }
  .donation-info {
    margin-top: 30px;
    padding: 20px 47px 45px;
  }
  .donation-info__text {
    margin-top: 0;
  }
  .donation-form {
    width: 810px;
  }
  .amount-bar__custom-radio {
    min-width: 0;
    // === УДАЛИТЬ ПОСЛЕ КРОСС-ЧЕКА (ЭТОТ ГОВНОКОД ВО ИМЯ ПИКСЕЛЬ ПЕРФЕКТ)
    &:nth-child(2) {
      margin-left: 5px;
      &::before {
        margin-left: -20px;
      }
    }
    &:nth-child(3) {
      margin-left: -12px;
      &::before {
        margin-left: -20px;
      }
    }
    &:nth-child(4) {
      margin-left: -15px;
      margin-right: 12px;
      &::before {
        margin-left: -17px;
      }
    }
    &:nth-child(5) {
      margin-left: -12px;
      margin-right: 5px;
      &::before {
        margin-left: -15px;
      }
    }
    &:nth-child(6) {
      &::before {
        margin-left: -18px;
      }
    }
    &:nth-child(7) {
      margin-right: 16px;
      &::before {
        margin-left: -15px;
      }
    }
    &:last-child {
      margin-right: -10px;
      &::before {
        margin-left: -15px;
      }
    }
  }
   // === /УДАЛИТЬ ПОСЛЕ КРОСС-ЧЕКА (ЭТОТ ГОВНОКОД ВО ИМЯ ПИКСЕЛЬ ПЕРФЕКТ)
  .amount-bar__custom-radio:has(#radio5000) {
    display: none;
  }
}
//=== /SMALL DESKTOP STYLES ===

//=== TABLET STYLES ===
@media screen and (max-width: $tablet-max-width) {
  .donation-intro {
    min-height: 370px;
    background-size: 213%;
    background-position: 37% 46%;
  }
  .donation-section__inner {
    padding: 30px 20px 46px;
    .title_m:first-child {
      font-size: 24px;
      line-height: 120%;
      max-width: 100%;
    }
    .paragraph {
      margin: 9px 0 18px;
    }
  }
  .donation-info {
    max-width: 600px;
    margin: 20px auto 0 auto;
    padding: 30px 45px 30px;
    box-sizing: border-box;
    .title_l {
      margin-right: 0px;
    }
    .title_s {
      margin: 10px 0 50px;
      text-align: center;
    }
  }
  .donation-info__animal {
    padding-top: 35px;
    width: max-content;
    .number {
      padding-top: 14px;
    }
  }
  .amount-bar__custom-radio:has(#radio2000),
  .amount-bar__custom-radio:has(#radio1000) {
    display: none;
  }
  .donation-form {
    width: 100%;
  }
  .donation-form__amount-bar {
    width: calc(100% + 90px);
    padding: 0 30px 0 45px;
  }
  .amount-bar-title {
    margin: 34px 0 -2px -35px;
  }
  .amount-bar__custom-radio {
    // === УДАЛИТЬ ПОСЛЕ КРОСС-ЧЕКА (ЭТОТ ГОВНОКОД ВО ИМЯ ПИКСЕЛЬ ПЕРФЕКТ)
    &:nth-child(4)::before {
      margin-left: -10px;
    }
    &:nth-child(5)::before {
      margin-left: -9px;
    }
    &:nth-child(6)::before {
      margin-left: -11px;
    }
    &:nth-child(7)::before {
      margin-left: -9px;
    }
    &:last-child::before {
      margin-left: -10px;
    }
  }
  // === /УДАЛИТЬ ПОСЛЕ КРОСС-ЧЕКА (ЭТОТ ГОВНОКОД ВО ИМЯ ПИКСЕЛЬ ПЕРФЕКТ)
  .amount-textfield {
    width: 180px;
    margin: 12px 0 10px;
    padding: 10px 5px;
  }
  .amount__input {
    max-width: 70%;
  }
}
//=== /TABLET STYLES ===

//=== MOBILE STYLES ===
@media screen and (max-width: $mobile-max-width) {
  .donation-intro {
    min-height: 220px;
    background-size: 237%;
    background-position: 33% 43%;
  }
  .donation-section__inner {
    padding: 30px 10px;
  }
  .donation-info {
    max-width: 400px;
    margin: 18px auto;
    padding: 20px 0;
    gap: 0;
    .title_l {
      margin-right: 0px;
    }
    .title_s {
      margin: 10px 0 25px 0;
      text-align: center;
    }
  }
  .donation-info__animal {
    padding: 0;
    transform: translateX(0);
    gap: 10px;
    width: 100%;
    .number {
      font-size: 40px;
      line-height: 80%;
    }
  }
  .animal-icon {
    width: 150px;
    height: 130px;
    margin-right: 10px;
  }
  .animal__diet {
    flex-shrink: 0;
  }
  .diet__text {
    font-size: 9px;
  }
  .cross {
    margin: 0 30px 10px 0px;
    & svg {
      width: 8px;
      height: 8px;
    }
  }
  .amount-bar-title {
    margin: 0;
  }
  .donation-form__amount-bar {
    max-width: 100%;
    padding: 0 25px;

    &::after {
      margin: 0;
      height: 13px;
    }
    &::before{
      margin: 0;
      top: 5px;
    }
  }
  .amount-bar__custom-radio {
    font-size: 12px;
    top: -4.5px;

    &::before {
      margin: 0 0 3px 0 !important;
      width: 20px;
      height: 20px;
      background-size: 5px;
    }
    &::after {
      width: 5px;
      height: 10px;
      top: -14px;
      left: -7px;;
      background-size: contain;
    }
  }
  .amount-bar__custom-radio:has(.amount-bar__radio-input:checked) {
    &::before {
      background: url('../../assets/images/icons/roller-icon.svg'), url('../../assets/images/icons/dot.svg') center no-repeat;
      background-size: contain, 5px;
    }
    &::after{
      background: url('../../assets/images/icons/dollar-active.svg');
      background-size: contain;
    }
  }
  .amount-textfield {
    margin: 0;
  }
  .period-radios {
    margin: 16px 20px 27px 0;
  }
  .share-text {
    margin-top: 10px;
    letter-spacing: -0.1px;
  }
}
//=== /MOBILE STYLES ===