@import './fonts.scss';
@import './common.scss';

.donation-intro {
  min-height: 385px;
  background-image: url('../images/panda-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.donation-info {
  @include section-bg-gradient();
}
.donation-info__inner {
  padding: 40px 0 180px;
  color: $font-color-secondary;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .paragraph {
    @include font-header();
    margin-bottom: 35px;
    line-height: 22.4px;
  }
  h3, h4 {
    color: $font-color-accent;
  }
}
.donation-form{
  background: rgba(255, 255, 255, 0.52);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: left;
  padding: 40px 92px 60px;
  margin-top: 50px;
  color: $font-color-main;
}
.donation-form__text {
  align-self: flex-start;
  margin: 10px 0 100px;
}
.donation-form__animal {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-15px);
}
.animal__diet {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;

  & .number {
    font-weight: 500;
    font-size: 72px;
    line-height: 57.6px;
    text-transform: uppercase;
  }
}
.cross {
  margin: 0 64px 10px 11px;
}
.donation-form__amount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.donation-radios {
  border: none;
  margin-top: 38px;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;

  &::before{
    position: absolute;
    content: "";
    top: 10px;
    left: 0px;
    height: 2px;
    width: 100%;
    background-color: #72828e;
    z-index: 2;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    border-radius: 2px;
    left: 0px;
    height: 27px;
    width: 100%;
    background-color: #404950;
  }
}
input[type="radio"] {
  &:hover {
    cursor: pointer;
  }
}
.donation-radios__title {
  margin-bottom: 15px;
}
.amount__radio {
  display: none;
}
.amount__radio + label {
  @include font-btn();
  font-size: 26px;
  position: relative;
  display: flex;
  flex-direction: column;

  &::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-bottom: 6px;
    z-index: 2;
    background: url('../../assets/images/icons/dot.svg') center no-repeat;
  }
  &::after {
    content: "";
    display: inline-block;
    position: relative;
    width: 10px;
    height: 20px;
    top: -28px;
    left: -15px;
    background: url('../../assets/images/icons/dollar.svg') center no-repeat;
  }
  &:hover {
    cursor: pointer;
  }
}
.amount__radio:checked + label {
  color: $font-color-accent;

  &::before {
    background: url('../../assets/images/icons/roller-icon.svg'), url('../../assets/images/icons/dot.svg') center no-repeat;
  }
  &::after{
    background: url('../../assets/images/icons/dollar-active.svg');
  }
}
.radio-group {
  position: relative;
  top: -8px;
  z-index: 3;
}
.amount-textfield {
  border: 1px solid #929699;
  border-radius: 2px;
  width: 268px;
  margin: 12px 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 10px;
  gap: 10px;
  box-sizing: border-box;
}
.amount__input {
  flex-grow: 1;
  user-select: none;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  outline: none;
  color: #929699;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
  &:focus {
    color: $active-color;
    & + svg {
      fill: $active-color
    }
  }
}
.period-radios {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 12px 16px 20px 0;
  gap: 50px;
  border: none;

  & input {
    display: none;
  }
  & label {
    cursor: pointer;
  }
}
.period__radio + label::before {
  content: "";
  position: relative;
  top: 2px;
  display: inline-block;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid $accent-color;
}
.period__radio:checked + label::before {
  border: 1px solid transparent;
  background-color: green;
}
.submit-btn {
  margin-bottom: 20px;
}