@import './common-adaptive.scss';

@media screen and (max-width: 1579px) {
  .description {
    background: none;
  }
}

//=== SMALL DESKTOP STYLES ===
@media screen and (max-width: $small-desktop-max-width) {

  // === INTRO ===
  .intro {
    background-position: center 68%;
    background-size: 120%;
  }
  .intro__inner {
    overflow: hidden;
    padding: 0 86px 47px 0;
    gap: 28px;
    & .btn {
      margin-right: calc(21.5% - 145px);
    }
  }
  .intro-header{
    transform: translateY(-12px);
    padding-top: 56px;
    font-size: 85px;
    @media (max-width: 1015px) {
      background-size: 80%;
    }
  }
  // === /INTRO ===

  // === SECTION DESCRIPTION ===
  .description{
    padding-top: 100px;
  }
  .description__inner {
    gap: 30px;
    align-items: center;
    padding-bottom: 0;
  }
  .description__text {
    & .title_l {
      margin-bottom: 23px;
    }
  }
  .paragraph {
    padding-right: 5px;
  }
  .description__image {
    max-width: 470px;
    min-width: 455px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 998px) {
      min-width: 435px;
    }
  }
  // === /SECTION DESCRIPTION ===

  // === ANIMALS ===
  .animals {
    margin-top: 142px;
    padding-bottom: 140px;
    background-position: right bottom, left bottom;
    background-size: 230px, 190px;
  }
  .controls {
    left: 0;
    right: 0;
    justify-content: center;
    gap: 171px;
    z-index: 2;
  }
  .carousel-track {
    row-gap: 92px;
  }
  .animal-card {
    height: 354px;
  }
  .animal-card__content {
   position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    background-color: white;
    padding-top: 5px;
    z-index: 2;
    transition: all .5s ease;
  }
  .animal-card__link {
    &:hover {
      .animal-card__content {
        background: none;
      }
      & .animal-card__image {
        transform: scale(1.15) translateY(20px);
      }
    }
  }
  // === /ANIMALS ===

  // === /DONATE ===
  .donate {
   padding: 30px 30px 50px;
  }
  .donate__inner {
    padding: 30px 48px 50px;
    & .title_l {
      margin-bottom: 10px;
    }
    & .paragraph_m {
      margin-bottom: 10px;
    }
    & .title_m {
      margin: 30px 0;
      line-height: 47px;
    }
  }
  .donate-paragraph {
    margin-left: 0;
  }
  .donation-scheme {
    margin-bottom: 63px;
  }
  // === /DONATE ===

  // === SECTION FEEDBACK ===
  .feedback {
    padding: 100px 0 140px;
    background-position: 100% 118%;
    background-size: 199px;
  }
  .feedback__inner {
    gap: 20px;

    & .title_m {
      margin-bottom: 10px;
      line-height: 47px;
    }
  }
  .feedback-card {
    flex-basis: 31.1%;
    padding: 5px 15px 15px;
  }
  .scrollbar {
    width: 41.5%;
    margin-right: 11px;
    input[type=range]::-webkit-slider-thumb {
      width: 75px;
    }
  }
  .feedback-btn {
    margin-top: 33px;
  }
  // === /SECTION FEEDBACK ===

  // === FOOTER NAV DIFFERENCES FOR LANDING PAGE ====
  @media (min-width: $tablet-max-width) {
    .footer-bottom {
      grid-template-columns: 1fr 1.3fr 1fr;
    }
    .footer-nav__list {
      justify-content: flex-start;
      gap: 48px;
    }
  }
}
// ===/SMALL DESKTOP STYLES===

//=== TABLET STYLES ===
@media screen and (max-width: $tablet-max-width) {
  // === SECTION INTRO ===
  .intro {
    background-position: center 52%
  }
  .intro__inner {
    padding: 53px 0 40px;
    gap: 0;
    align-items: center;
    & .btn {
      align-self: flex-start;
      margin-left: 20px;
      margin-top: -12px;
    }
  }
  .intro-header {
    padding-top: 35px;
    padding-left: 4.5%;
    font-size: 54px;
    background-size: contain;
    transform: translateY(-8px);
    margin-right: 5px;
    @media (max-width: 979px) and (min-width: 730px){
      max-width: 300px;
      margin-right: 5%;
    }
  }
  // === /SECTION INTRO ===

  // === SECTION DESCRIPTION ===
  .description {
    padding: 60px 0 55px;
    background: url('../images/flower-description.png') 107% center no-repeat;
    background-size: contain;
  }
  .description__image {
    display: none;
  }
  .description__text {
    max-width: 81%;
    & .title_l {
      margin: 0 0 23px 4px;
    }
    & .title_s {
      margin: 30px 0 19px 4px;
    }
  }
  // === /SECTION DESCRIPTION ===

  // === SECTION ANIMALS ===
  .animals {
    background: url("../images/strelitzia.png") right bottom no-repeat,
    url("../images/palm.png") -11.5% bottom no-repeat;
    background-size: 27%, 29%;
    margin-top: 25px;
    padding-bottom: 100px;
  }
  .animals__carousel {
    max-width: 600px;
  }
  .carousel-track {
    grid-template-columns: repeat(2, 47.5%);
    column-gap: 5%;
  }
  .controls {
    gap: 30px;
  }
  .animal-card {
    height: 332px;
  }
  .animal-card__text {
    font-size: 12px;
  }
  .animal-card__title {
    font-size: 12.5px;
  }
  .animal-card__content {
    padding: 5px 10px 0;
    bottom: -35px;
  }
  .animal-card__icon {
    max-width: 37px;
    max-height: 29px;
  }
  .controls {
    top: calc(50% - 35px);
  }
  .animals-btn {
    margin: 60px auto 0;
  }
  // === /SECTION ANIMALS ===

  // === SECTION DONATE ===
  .donate {
    padding: 20px 0 20px;
  }
  .donate__inner {
    padding: 10px 20px 60px;

    & .title_l {
      font-size: 42px;
    }
    & .title_m {
      margin: 21px 0 10px;
    }
  }
  .paragraph_m {
    font-size: 22px;
    line-height: 120%;
  }
  .donation-scheme__arrow {
    display: none;
  }
  .donation-scheme {
    gap: 42px;
    margin-right: 12px;
    margin-bottom: 33px;
  }
  .step-2 {
    position: relative;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: -39px;
      width: 100px;
      height: 70px;
      z-index: 2;
      box-sizing: border-box;
      background: url('../../assets/images/icons/donation-step-arrow.svg') center no-repeat;
    }
    &::before {
      left: -47%;
    }
    &::after {
      right: -37%;
    }
  }
  // === /SECTION DONATE ===

  // === SECTION FEEDBACK ===
  .feedback {
    padding: 60px 0 80px;
    background-size: 19.5%;
    background-position: 101.8% 115.2%;
  }
  .feedback-carousel__track {
    height: 357px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .feedback-card {
    width: 100%;
    max-height: 108px;
    gap: 10px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .author {
      padding: 5px 0 0;
    }
    .username {
      line-height: 120%;
    }
    &:hover {
      cursor: pointer
    }
  }
  .text {
    height: 38px;
    padding: 0 5px;
  }
  .scrollbar {
    display: none;
  }
  .feedback-btn {
    align-self: center;
    margin-top: 20px;
    max-width: 240px;
  }
}
//=== /TABLET STYLES ===


//=== MOBILE STYLES ===
@media screen and (max-width: $mobile-max-width) {
  .intro {
    background-position: center 40%;
  }
  .intro__inner {
    position: relative;
    padding: 8% 0 22px;
    @media (max-width: 340px) {
      padding: 54px 0 22px;
    }
    & .btn {
      display: none;
    }
  }
  .intro-header {
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-size: contain;
    transform: translateY(2px);
    background-size: 78%;
    @media (max-width: 634px) and (min-width: 392px) {
      max-width: 174px;
      margin-right: 7%;
      background-size: contain;
    }
  }

  // === SECTION DESCRIPTION ===
  .description {
    padding: 20px 0 15px;
    background: url('../images/flower-description.png') 114% 42px no-repeat;
    background-size: 21%;
     & .btn {
    display: block;
    margin: 0 auto;
    }
  }
  .description__text{
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    & .title_l {
      margin: 30px 0 10px;
    }
    & .title_s {
      margin: 20px 0 10px;
      font-size: 24px;
      line-height: 120%;
    }
  }
  // === /SECTION DESCRIPTION ===

  // === SECTION ANIMALS ===
  .animals {
    background: url('../../assets/images/strelitzia.png') 107% bottom no-repeat, url('../../assets/images/palm.png') -4% bottom no-repeat;
    background-size: 27%, 23%;
    padding-bottom: 59px;
  }
  .animals__carousel {
    width: fit-content;
    max-height: 1400px;
  }

  @media (max-width: 585px) {
    .carousel-track {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, auto);
      grid-auto-flow: row;
      column-gap: 0;
      row-gap: 20px;
    }
    .controls {
      display: none;
    }
    .animal-card {
      max-width: 285px;
      max-height: 332px;
    }
  }
  .animals-btn {
    margin: 10px auto 0;
  }
  // === /SECTION ANIMALS ===

  // === SECTION DONATE ===
  .donate {
    padding: 20px 10px 20px;
  }
  .donate__inner {
    gap: 0px;
    padding: 10px 10px 40px;

    & .title_l {
      font-size: 24px;
      line-height: 120%;
      margin-top: 10px;
    }
    & .paragraph_m {
      font-size: 18px;
      line-height: 120%;
      text-align: center;
      margin-bottom: 0;
    }
    & .p_xs-width {
     display: none;
    }
    & .p_covid {
      display: none;
    }
    & .title_m {
      margin: 12px 0 10px;
    }
  }
  .donation-scheme {
    flex-direction: column;
    gap: 15px;
  }
  .donation-scheme__step {
    gap: 10px;
    margin-left: 5px;
    height: 231px;
    justify-content: flex-start;
  }
  .step-2 {

    &::before,
    &::after {
      content: '';
      top: 0;
      transform: rotate(80deg);
    }
    &::before {
      left: 82%;
      top: -33%;
    }
    &::after {
      left: 83%;
      top: 75%;
    }
  }
  // === /SECTION DONATE ===

  // === SECTION FEEDBACK ===
  .feedback {
    padding: 20px 0 60px;
    background-size: 24%;
    background-position: right 114%;
  }
  .feedback-carousel__track {
    height: 360px;
  }
  .feedback__inner {
    gap: 10px;
    .title_m {
      margin-bottom: 0px;
    }
  }
  .feedback-card {
    max-height: 110px;
  }
  .text {
    overflow-y: hidden;
  }
  //=== /MOBILE STYLES ===
}
