@import './fonts.scss';
@import './common.scss';

// === SECTION INTRO ===
.intro {
  background-image: url('../images/panda-bg.jpg');
  background-size: cover;
  background-position: center 65%;
  background-repeat: no-repeat;
}
.intro__inner {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.intro__content {
  z-index: 2;
  max-width: 500px;
  box-sizing: border-box;
  margin: 85px 0 100px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 62px;
}
.intro-header {
  @include font-intro();
  color: $font-color-secondary;

  & .accent {
    color: #FFEE2E;
  }
}
.circle {
  position: relative;
  left: 33.8%;
  top: 12px;
  background: $bg-btn;
  border-radius: 50%;
  width: 465px;
  height: 465px;
}
// === /SECTION INTRO ===

// === SECTION DESCRIPTION ===
.description{
  padding-top: 140px;
  background: url("../../assets/images/flower-description.png") right 47% no-repeat;
  background-size: fill;
}
.description__inner {
  display: flex;
  justify-content: space-between;
  gap: 87px;
  padding-bottom: 100px;
}
.description__text{
  max-width: 50%;
  display: flex;
  flex-direction: column;

  & .title_l {
    margin-bottom: 21px;
  }
  & .title_s {
    margin: 54px 0 34px;
  }
}
.paragraph {
  font-size: 16px;
  line-height: 22px;
}
// === /SECTION DESCRIPTION ===

// === SECTION ANIMALS ===
.animals {
  background: url("../../assets/images/strelitzia.png") right bottom no-repeat,
  url("../../assets/images/palm.png") -135px bottom no-repeat;
  margin-top: 75px;
  padding-bottom: 98px;
}
.animals-btn {
  margin: 80px auto 0;
}
.animals__inner {
  position: relative;
}
.animals__carousel {
  width: 100%;
  overflow: hidden;
}
.carousel-track {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 20px;
}
.animal-card {
  box-sizing: border-box;
  border: 1px solid $accent-color;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  height: 426px;

  & img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
}
.animal-card__content {
  display: flex;
  padding: 0 15px 13px;
  justify-content: space-between;
  align-items: flex-start;
}
.animal-card__link {
  @include font-light();
  color: $font-card-color;

  & img {
    transition: all .5s ease-in-out;
  }

  &:hover {
    & img {
      transform: scale(1.2) translateY(20px);
    }
    &.animal-card__link::after{
      opacity: 1;
    }
    & .animal-card__text {
      transform: translateY(-100%);
      color: $font-color-secondary;
    }
    & .animal-card__icon {
      opacity: 0;
    }
    & .animal-card__btn {
      display: block;
      opacity: 1;
    }
  }
  &:active {
    & .animal-card__btn {
      box-shadow: inset 1px 1px 2px 1px gray;
      font-weight: 500;
    }
  }
}
.animal-card__btn {
  display: hidden;
  opacity: 0;
  width: 135px;
  height: 31px;
  color: $active-color;
  background: #F1F3F2;
  border-radius: 5px;
  border: none;
  margin-top: 11px;
  transition: opacity .5s ease-in-out;

  &:hover {
    cursor: pointer;
  }
  &:active {
    box-shadow: inset 1px 1px 2px 1px gray;
    font-weight: 500;
  }
}
.animal-card__text {
  position: relative;
  z-index: 2;
  transition: all .5s ease-in-out;
}
.animal-card__title {
  @include font-btn();
  text-align: left;
}
.animal-card__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity .5s ease-in-out;
}
.controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: calc(50% - 31px);
  left: -80px;
  right: -80px;
}
.slider-btn {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: $bg-btn;
  border: none;
  &:hover{
    cursor: pointer;
    background: $accent-color;
  }
  &:active {
    background: $bg-button-active;
  }
}
// === /SECTION ANIMALS ===

// === SECTION DONATE ===
.donate {
  @include section-bg-gradient();
  padding: 69px 0 100px;
}
.donate__inner {
  background: rgba(253, 253, 255, 0.52);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: left;
  padding: 40px 0 60px;

  & .support-link {
    color: $font-color-main;
    border-bottom: 1px solid $accent-color;
  }
  & .title_l {
    color: $font-color-accent;
    text-align: center;
    margin-bottom: 20px;
  }
  & .paragraph_m {
    margin-bottom: 30px;
  }
  & .p_xs-width {
    max-width: 863px;
  }
  & .title_m {
    margin: 50px 0 30px;
  }
}
.donate-paragraph {
  max-width: 1007px;
  align-self: flex-start;
  margin-left: 99px;
}
.paragraph_m {
  @include font-main();
  font-size: 24px;
  line-height: 120%;
}
.donation-scheme {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 50px;
}
.donation-scheme__step {
  width: 168px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.donation-scheme__arrow {
  margin-top: 58px;
}
.step-img {
  width: 100%;
  height: 168px;
  background: #FFFFFF;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $accent-color;
}

// === /SECTION DONATE ===

// === SECTION FEEDBACK ===

.feedback {
  padding: 140px 0 182px;
  background: url("../images/leaf.png");
  background-repeat: no-repeat;
  background-position: 100% 124%;
  background-size: 240px;
}
.feedback__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  & .title_m {
    margin-bottom: 26px;
  }
}
.carousel-container {
  width: 100%;
}
.carousel-inner{
  width: 100%;
  height: 392px;
  display: flex;
  gap: 30px;
}
.feedback-card {
  position: relative;
  width: 268px;
  padding: 0 14px 15px;
  box-sizing: border-box;

  border-radius: 20px;
  background: linear-gradient(#F1F3F2, #F1F3F2) padding-box,
  $pink-gradient border-box;
  border: 2px solid transparent;
}
.author {
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 10px;

  & .username{
    @include font-main();
    line-height: 130%;
    color: $font-card-color;
  }
  & .details{
    @include font-light();
    color: #BDBDBD;
  }
}
.avatar {
  width: 37px;
  height: 37px;
  border-radius: 50%;
}
.text {
  @include font-light();
  height: 309px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: #767474;

  &::-webkit-scrollbar {
    display: none;
  }
}
.feedback-btn {
  align-self: flex-start;
  margin-top: 10px;
}
.scrollbar {
  width: 600px;
  display: flex;
  height: min-content;

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: #f5f7f6;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    border: 0.5px solid #FCDDEC;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    background: #f5f7f6;
    border-radius: 5px;
    cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 115px;
    height: 100%;
    border-radius: 5px;
    background: $scrollbar-color;
    cursor: pointer;
  }
  input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 115px;
    height: 100%;
    border-radius: 5px;
    background: $scrollbar-color;
    cursor: pointer;
  }
}

// === /SECTION FEEDBACK ===