@import './common.scss';

.bird-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.bird-card__player-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media screen and (max-width: 600px) {
    gap: 5px;
  }
}

.bird-card__top-section {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 1rem;

  @media screen and (max-width: 490px) {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
}

.bird-card__name {
  font-weight: 500;
  font-size: 20px;

  @media screen and (max-width: 600px) {
    font-size: 16px;
  }
}

.bird-card__img {
  max-width: 250px;
  max-height: 175px;
  margin: 0 auto;
}

.bird-card__description {
  text-align: justify;
}