$font-color-light: #FFFFFF;
$font-color-dark: #32404F;
$color-secondary: #FFBA76;
$color-accent: #FF8000;
$bg-color: #2A2B2D;
$block-bg-color: rgba(0, 0, 0, 0.25);
$color-disabled: #909090;
$color-error: #FF4343;
$color-accept: #4BEA6E;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

@mixin font-main {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 130%;
  color: $font-color-light;

  @media screen and (max-width: 620px) {
    font-size: 16px;
  }
}

@mixin font-logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
  line-height: 130%;
  color: $font-color-dark;
}

body,
ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    cursor: pointer;
  }
}

.btn {
  @include font-main();
  width: 120px;
  height: 35px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-secondary;
  color: $bg-color;
  font-weight: 700;
  border-radius: 5px;
  border: 2px solid $color-accent;
  transition: all .2s ease;

  &:hover {
    cursor: pointer;
    animation: none;
    box-shadow: 0px 0px 5px $color-accent;
  }

  &:active {
    box-shadow: inset 0px 0px 5px $color-accent;
  }
}

.btn_disabled {
  background-color: $color-disabled;
  border: 1px solid #2A2B2D;
  pointer-events: none;
}

.hidden {
  display: none;
}

