@import './common.scss';

.game {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  margin-top: -2rem;
}

.score {
  align-self: flex-end;
}

.categories {
 display: flex;
 flex-wrap: wrap;
 column-gap: 1rem;
 justify-content: space-between;
 align-items: center;
 border-top: 1px solid $color-secondary;
 border-bottom: 1px solid $color-secondary;

  @media screen and (max-width: 600px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px 0;
    column-gap: 10px;
  }
}

.category {
  padding: 5px;
}

.category_active {
  color: $color-accent;
  font-weight: 500;
}

.question,
.answers__list,
.answers__bird-info {
  background-color: $block-bg-color;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
}

.answers__bird-info {
  text-align: left;
}

.question {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 1rem;

  @media screen and (max-width: 600px) {
    gap: 10px;
  }
}

.bird-img {
  border-radius: 10px;
  grid-row: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  max-height: 160px;
  overflow: hidden;

  & img {
    border-radius: 10px;
    width: 100%;
  }
}

.question__bird-name {
  align-self: center;
  font-size: 20px;

  @media screen and (max-width: 600px) {
    font-size: 14px;
  }
}

.answers {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 1rem;

  @media screen and (max-width: 650px) {
    grid-template-columns: 1fr;
  }
}

.answers__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.answer {
  background-color: $bg-color;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all .5s ease;

  &:hover {
    cursor: pointer;
    color: $color-accent;
  }

  & .circle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid $color-secondary;
  }

}

.answer_correct {
  & .circle {
    border: 1px solid $color-accept;
    background-color: $color-accept;
  }
}

.answer_wrong {
  & .circle {
    border: 1px solid $color-error;
    background-color: $color-error;
  }
}

.btn-next {
  align-self: flex-end;

  @media screen and (max-width: 600px) {
    align-self: center;
  }
}

.end-game-msg {
  @include font-logo();
  text-align: center;
  color: $color-accept;
  position: absolute;
  background-color: $bg-color;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  @media screen and (max-width: 600px) {
    justify-content: flex-start;
    font-size: 20px;
  }
}