$font-color-light: #FFFFFF;
$font-color-dark: #32404F;
$color-secondary: #FFBA76;
$color-accent: #FF8000;
$bg-color: #2A2B2D;
$block-bg-color: rgba(0, 0, 0, 0.25);
$color-disabled: #909090;
$color-error: #FF4343;
$color-accept: #4BEA6E;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

@mixin font-main {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: $font-color-light;
}
@mixin font-logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  line-height: 130%;
  color: $font-color-dark;
}

body,
ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    cursor: pointer;
  }
}

#root {
  background-color: $bg-color;
  @include font-main();
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrapper {
  width: 100%;
  max-width: 900px;
  box-sizing: border-box;
  margin: 0 auto 0;
  padding: 10px;
}

.header {
  width: 100%;
  max-width: 950px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0px 25px 5rem;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  background-image: url('../images/bg-header.png');
  background-repeat: no-repeat;
  background-position: left top;
  flex: 0 0 auto;
}

.logo {
  @include font-logo();
  display: flex;
  gap: 10px;
  align-items: center;

  img {
    margin-bottom: 1.5rem;
  }
}

.main-nav {
  display: flex;
  height: 100%;
  gap: 2rem;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  flex: 1 0 auto;
}

.intro-title {
  @include font-main();
  font-size: larger;
  line-height: 140%;
}

.btn {
  width: 120px;
  height: 35px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-secondary;
  color: $bg-color;
  font-weight: 700;
  border-radius: 5px;
  border: 2px solid $color-accent;
  transition: all .2s ease;

  &:hover {
    cursor: pointer;
  }
}

.birds-intro {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.birds-intro__bird {
  position: relative;

  p {
    position: absolute;
    top: 40%;
    left: 0%;
    right: 0%;
    text-align: center;
    background-color: $bg-color;
  }
}

.start-game-btn {
  animation: scale 1s infinite;

  &:hover {
    animation: none;
    box-shadow: 0px 0px 5px $color-accent;
  }

  &:active {
    box-shadow: inset 0px 0px 5px $color-accent;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(105%);
  }
  100% {
    transform: scale(1);
  }
}

.footer {
  width: 100%;
  max-width: 950px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 3rem 50px 5px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  background-image: url('../images/bg-footer.png');
  background-repeat: no-repeat;

  background-position: center bottom;
  flex: 0 0 auto;
}

.copyright {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: $font-color-dark;
}
.github-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.active-link {
  border-bottom: 1px solid $color-accent;
}