@import './common.scss';

#root {
  background-color: $bg-color;
  @include font-main();
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrapper {
  width: 100%;
  max-width: 900px;
  box-sizing: border-box;
  margin: 0 auto 0;
  padding: 10px;
}

.header {
  width: 100%;
  max-width: 950px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0px 25px 5rem;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  background-image: url('../images/bg-header.png');
  background-repeat: no-repeat;
  background-position: left top;
  flex: 0 0 auto;
}

.logo {
  @include font-logo();
  display: flex;
  gap: 10px;
  align-items: center;
  text-shadow: -2px 1px 0px $color-accent;

  img {
    margin-bottom: 1rem;
  }
}

.main-nav {
  display: flex;
  height: 100%;
  gap: 2rem;
  align-items: center;
}

.main {
  flex: 1 0 auto;
}

.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.intro-title {
  @include font-main();
  font-size: larger;
  line-height: 140%;
}

.birds-intro {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.birds-intro__bird {
  position: relative;

  p {
    position: absolute;
    top: 40%;
    left: 0%;
    right: 0%;
    text-align: center;
    background-color: $bg-color;
  }
}

.start-game-btn {
  width: 135px;
  animation: scale 1s infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(105%);
  }
  100% {
    transform: scale(1);
  }
}

.footer {
  width: 100%;
  max-width: 950px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 3rem 50px 5px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  background-image: url('../images/bg-footer.png');
  background-repeat: no-repeat;

  background-position: center bottom;
  flex: 0 0 auto;
}

.copyright {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: $font-color-dark;
  font-size: 16px;
}

.github-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.active-link {
  transition: all .5s ease-in-out;
  border-bottom: 1px solid $color-accent;
}