@import './common.scss';

#root {
  background-color: $bg-color;
  @include font-main();
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 900px;
  box-sizing: border-box;
  margin: 0 auto 0;
  padding: 10px;
  box-sizing: border-box;
}

.header {
  width: 100%;
  max-width: 950px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0px 25px 5rem;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  background-image: url('../images/bg-header.png');
  background-repeat: no-repeat;
  background-position: left top;
  flex: 0 0 auto;
  align-items: center;

  @media screen and (max-width: 800px) {
    background-position: -60px -20px;
    padding: 0px 10px 3rem;
  }

  @media screen and (max-width: 620px) {
    background: none;
    padding: 0px 10px 3rem;
    gap: 10px;

    .main-nav {
      gap: 1rem;
      padding: 0;
      font-size: 14px;
    }

    .logo {
      background-color: $color-secondary;
      border-radius: 10px;
      margin-top: 5px;
      img {
        width: 55px;
        margin-bottom: 10px;
        padding: 0 5px;
      }
      h1 {
        display: none;
      }
    }
  }
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
  text-shadow: -2px 1px 0px $color-accent;

  h1 {
    @include font-logo();
  }

  img {
    margin-bottom: 1rem;
  }

  @media screen and (max-width: 800px) {
    h1 {
      font-size: 25px;
    }
  }

}

.main-nav {
  display: flex;
  height: 100%;
  gap: 2rem;
  align-items: center;
  padding: 0 15px;


  @media screen and (max-width: 700px) {
    border-radius: 20px;
    justify-content: center;
    padding: 15px;
    font-size: 16px;
  }

}

.main {
  flex: 1 0 auto;

  @media screen and (max-width: 700px) {
    text-align: center;
    font-size: 14px;
  }
}

.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.intro-title {
  @include font-main();
  font-size: larger;
  line-height: 140%;
  width: 90%;
}

.birds-intro {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  @media screen and (max-width: 700px) {
    .birds-intro__bird:last-child {
      display: none;
    }
  }

  @media screen and (max-width: 520px) {
    justify-content: center;

    .birds-intro__bird:nth-child(3) {
      display: none;
    }
  }
}

.birds-intro__bird {
  position: relative;

  p {
    position: absolute;
    top: 40%;
    left: 0%;
    right: 0%;
    text-align: center;
    background-color: $bg-color;
  }
}

.start-game-btn {
  width: 135px;
  animation: scale 1s infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(105%);
  }
  100% {
    transform: scale(1);
  }
}

.footer {
  width: 100%;
  max-width: 950px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 3rem 35px 5px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-end;
  background-image: url('../images/bg-footer.png');
  background-repeat: no-repeat;

  background-position: center bottom;
  flex: 0 0 auto;


  @media screen and (max-width: 600px) {
    padding: 2rem 10px 5px;

    .copyright {
      flex-direction: column;
      gap: 0;
      align-items: flex-end;
      font-size: 14px;
    }

    img {
      width: 70px;
    }

    .github-link {
      img {
        width: 30px;
      }
    }
  }

  @media screen and (max-width: 500px) {

  }
}

.copyright {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: $font-color-dark;
  font-size: 16px;
}

.github-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.active-link {
  transition: all .5s ease-in-out;
  border-bottom: 1px solid $color-accent;
}