@import './common.scss';

.player-container{
  width: 100%;
  box-sizing: border-box;
  align-self: start;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  padding-right: 10px;
}

.player-btn {
  flex-shrink: 0;
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border: 2px solid $color-accent;
  background-color: transparent;
  &:hover {
    cursor: pointer;
  }
}

.player-btn_play::after {
  position: absolute;
  top: 7px;
  left: 11px;
  border-top: 8px solid transparent;
  border-left: 15px solid $color-secondary;
  border-bottom: 8px solid transparent;
  content: '';
  width: 0;
  height: 0;
}

.player-btn_pause {
  &::after {
    position: absolute;
    content: "";
    top: 8px;
    left: 10px;
    width: 5px;
    height: 15px;
    border-left: 3px solid $color-secondary;
    border-right: 3px solid $color-secondary;
  }
}

.progress-container {
  box-sizing: border-box;
  width: 100%;
  height: 10px;
  border: 1px solid $color-secondary;
  border-radius: 5px;
  width: calc(100% - 45px);

  &:hover {
    cursor: pointer;
  }
}

.progress-bar {
  position: relative;
  width: 0;
  height: 100%;
  background-color: $color-secondary;

  &::after {
    position: absolute;
    content: '';
    top: -4px;
    right: -13px;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    background: $color-secondary;
    border: 2px solid $color-accent;
    border-radius: 100%;
  }
}

.volume-bar-container {
  width: 100%;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.volume-bar {
  box-sizing: border-box;
  width: 120px;
  height: 7px;
  border: 1px solid $color-secondary;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}

input[type=range].volume-bar {
  -webkit-appearance: none;
  background: linear-gradient(90deg, $color-secondary 0%, $color-secondary 50%, transparent 50%, transparent 100% );
}

input[type=range].volume-bar:focus {
  outline: none;
}

/*webkit*/
input[type=range].volume-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: $color-accent;
  border: none;
}

/*mozilla*/
input[type=range].volume-bar::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: $color-accent;
  border: none;
  box-shadow: none;
}

input[type=range].volume-bar::-moz-range-track {
  height: 100%;
  box-sizing: border-box;
  border: 1px solid $color-secondary;
  border-radius: 5px;
  background: transparent;
  box-shadow: none;
}

.volume-icon {
  width: 30px;
  height: 30px;
  background-image: url('../images/volume.svg');
  background-size: contain;
}

.mute-icon {
  background-image: url('../images/mute.svg');
}