@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$font-color: #333B41;
$bg-main: #d4d1d1;
$bg-btn: #eaf0c7;
$bg-button-active: #4B9200;
$accent-color: #E47209;
$tile-bg-color: #ffdd93;

// default
body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

@mixin font-tile {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

@mixin font-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
}

.header-container {
  max-width: 600px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  background-color: $bg-main;
}

.btn {
  border: 1px solid $accent-color;
  border-radius: 5px;
  background-color: $bg-btn;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s ease;

  &:hover {
    cursor: pointer;
    background-color: $accent-color;
  }
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.size-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 15px 0;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.size-btn_checked {
 background-color: $bg-button-active;
}

.field-container {
  width: 80%;
  margin: 0 auto;
  position: relative;
  border: 2px solid green;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  &::before {
    content: '';
    padding-top: 100%;
    display: block;
    box-sizing: border-box;
  }
}

.tile {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid $accent-color;
  border-radius: 5px;

  background-color: $tile-bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: 800;
  transition: all 0.3s ease;
  cursor: pointer;
}
.empty-tile {
  background-color: transparent;
  border-radius: 0;
  border: none;
}

.welcome-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  background-color: $tile-bg-color;
  height: 100%;
  align-items: center;
}

.status-panel {
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin: 15px auto;
}