@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

$font-color-main: #9297f0;
$font-color-secondary: #343188;
$bg-main: #3a373b;
$bg-btn: #ffdd93;
$bg-button-active: #b2b5f5;
$field-border-color:  #777cd3;
$hover-color: #fdac31;
$accent-color: #fdac31;
$tile-bg-color: #ffdd93;
$popup-bg-color: rgba(57, 54, 58, 0.7);
$maxTabletSize: 680px;

@mixin font-tile {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

@mixin font-main {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

@mixin font-title {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}

@mixin font-btn {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
}

// default
body {
  padding: 0;
  margin: 0;
  background-color: $bg-main;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  @include font-title();
}

p {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

.header-container {
  max-width: 600px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  text-transform: uppercase;
  @include font-main();
  color: $font-color-main;
  text-align: center;

  h1 {
    font-size: 28px;
  }
}

main {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  @include font-main();
  color: $font-color-main;
}

.btn,
.size-btn {
  border: 1px solid $accent-color;
  border-radius: 5px;
  background-color: $bg-btn;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s ease;
  color: $font-color-secondary;

  &:hover {
    cursor: pointer;
    background-color: $hover-color;
  }
}

.time-container {
  display: flex;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.size-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 15px 0;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.size-btn {
  padding: 2px 5px;
}
.size-btn_checked {
 background-color: $bg-button-active;
 pointer-events: none;
}

.field-container {
  width: 80%;
  margin: 0 auto;
  position: relative;
  border: 10px solid $field-border-color;
  border-radius: 10px;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  &::before {
    content: '';
    padding-top: 100%;
    display: block;
    box-sizing: border-box;
  }
}

.tile {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid $accent-color;
  border-radius: 5px;
  color: $font-color-secondary;
  background-color: $tile-bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: 800;
  transition: all 0.3s ease;
  cursor: pointer;
}
.empty-tile {
  background-color: transparent;
  border-radius: 0;
  border: none;
}

.welcome-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  background-color: $tile-bg-color;
  height: 100%;
  align-items: center;
  color: $font-color-secondary;

  h2 {
    text-align: center;
  }
  ol {
    padding-left: 10px;
  }
}

.status-panel {
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin: 15px auto;
}

.min-counter::after {
  content: ':';
  display: inline-block;
}

.audio {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: url('../images/volume.png');
  background-size: contain;

  &:hover {
    cursor: pointer;
  }
}
.audio_disabled {
  background: linear-gradient(-45deg, transparent 0%,  transparent 51%, $accent-color 52%, $accent-color 55%, transparent 56%, transparent 100%), url('../images/volume.png');
  background-size: contain;
}

.popup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $popup-bg-color;
  color: white;
  @include font-title();
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
.results-table {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: $bg-main;
  top: 10px;
  left: 0;
  @include font-main();
  color: $font-color-main;
  padding: 15px;
  border-radius: 10px;
  box-sizing: border-box;
  transform: translateY(-200%);
  opacity: 0;
  transition: all .5s ease;
}
.table-title {
  align-self: center;
  @include font-title();
  color: $accent-color;
}
.table-head {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  column-gap: 15px;
  padding-left: 10px;
  color: $accent-color;
  font-weight: 700;
  border-bottom: 2px solid $accent-color;
}
.results-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.result {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  column-gap: 15px;
  padding-left: 10px;
  border-bottom: 2px solid $field-border-color;
}
.open {
  opacity: 1;
  transform: translateY(0);
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
	height: 24px;
  background: none;
  border: none;
	cursor: pointer;

  &::before,
  &::after {
	  content: '';
	  position: absolute;
	  top: 10px;
	  display: block;
	  width: 24px;
	  height: 3px;
	  background: $accent-color;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media screen and (max-width: $maxTabletSize) {
  .field-container {
    width: 95%;
  }
  main {
    font-size: 12px;
  }
  .welcome-text {
    gap: 10px;
    padding: 5px 10px;

    h2, h3 {
      font-size: 16px;
    }
  }
  .header-container h1 {
    font-size: 22px;
  }

  @media screen and (max-width: 540px){
    .results-table {
      font-size: 13px;
    }
  }
}